<div class="password-wrapper">
  <input
    class="form-input"
    [id]="inputId"
    [type]="showPassword ? 'text' : 'password'"
    [placeholder]="placeholder"
    [autocomplete]="autocomplete"
    [disabled]="disabled"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onTouched()"
  />
  <button
    type="button"
    class="password-toggle"
    (click)="toggleVisibility()"
    [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
    [disabled]="disabled"
  >
    {{ showPassword ? "🙈" : "👁" }}
  </button>
</div>
